*{
    padding: 0;
    margin: 0;
}
.bg-color{
    background-color: #F0FFF0;
}
.sing-in-btn{
    background-color: transparent;
    color: #000;
    padding: 7px 13px;
    border-radius: 33px;
    align-items: center;
    transition: 0.3s;
}
.sing-in-btn:hover{
    background-color: #21B573;
    color: #000;
    border-style: solid;
}
.banner-p{
    color: #FD511A;
}
.img-size{
    width: 40px;
}
.card-border{
    border-style: none;
}
.img-size-2{
    width: 250px;
}
.img-people{
    width: 20px;
}
.img-man{
    width: 80px;
}
